ul.pagination {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
}

ul.pagination li {
    color: #b3b3b1;
    float: left;
    padding: 0 10px 0 0;
}

ul.pagination li.active {
    font-weight: bold;
}

ul.pagination li a {
    color: #b3b3b1;
    text-decoration: none;
}

ul.pagination li a:visited {
    color: #b3b3b1;
    text-decoration: none;
}
