.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    outline: 0;
    display: inline;
    margin: 0;
    padding: 0;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}
