.site-content.no-cover {
    top: 0;
    position: relative;
}

.no-cover .post-meta {
    /*font-family: $ font-sans*/
    padding-top: 60px;
}

.no-cover .post-title {
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    color: #333332;
    margin-bottom: 16px;
}

.no-cover .author-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    background-image: url(/img/top-logo.jpg);
    border-radius: 100%;
    text-indent: -9999px;
}

.no-cover .author-name {
    display: inline;
}

.no-cover .post-meta-text {
    color: #b3b3b1;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    /*overflow: hidden;*/
    /*font-family: $ font-sans*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-post-meta {
    color: #b3b3b1;
}
