body {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

ul.horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: inline-block;
}

ul.horizontal li {
    float: left;
}
