.table-toggler {
    text-align: center;
}

.table-toggler a {
    font-size: 0.7em;
    border-bottom: 1px dotted #000;
    cursor: pointer;
}

.raw-data-table {

}

.raw-data-table table {
    width: 100%;
}

.raw-data-table table th {
    background-color: rgba(0, 0, 0, .03);
}

.raw-data-table table .right {
    text-align: right;
}
