.teaser-image {
    height: 360px;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.teaser-image_image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
}
