ul.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    /*TODO make it right!*/
    display: inline-block;
}

ul.tags li {
    line-height: 1.4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.05);
    float: left;
    margin: 4px 0.5em 0 0;
    padding: 3px 5px;
}

ul.tags li:hover {
    background-color: rgba(0,0,0,.15);
}

ul.tags li.label {
    padding: 0 0.5em 0 0;
}

ul.tags li a {
    color: rgba(0,0,0,.68);;
    text-decoration: none;
}

ul.tags li a:visited {
    color: rgba(0,0,0,.68);;
    text-decoration: none;
}
