.site-menu {
    margin: 0 0 50px;
    text-align: center;
    color: #ccc;
}

.site-menu a {
    text-decoration: none;
    color: #999;
    padding-left: 20px;
}

.site-menu a:hover {
    color: #333;
}

.site-menu a.active {
    font-weight: bold;
}
